.prochoice{
  float: left;
  color: white;
  font-family: cursive;
  text-align: center;
}
.prolife{
  float: right;
  color: white;
  font-family: cursive;
  text-align: center;
}
html {
  background: url(white.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
