.for_guns{
  float: left;
}
.notfor_guns{
  float: right;
}
li{
  color: white;
}

html {
  background: url(white.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
