h1{
  color: black;
}
h2{
  color: black;
}
img{
  height: 100px;
}
.topics{
  font-family: monospace;
  color: black;
  text-align: center;
}
p{
  font-family: monospace;
  color: black;
  text-align: center;
}
html {
  background: url(http://eskipaper.com/images/sky-wallpaper-5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
