p{
  text-align: center;
}
h1{
  text-align: center;
}
.topics_nav{
  float: left;
  width: 50%;
}

.topics2_nav{
  float: right;
  width: 50%;
}
.cool{
  height: 200px;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
