p{
  text-align: center;
}
h1{
  text-align: center;
}
.topics_nav{
  float: left;
  width: 50%;
}

.topics2_nav{
  float: right;
  width: 50%;
}
.cool{
  height: 200px;
}
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
