p{
  text-align: center;
  font-family: monospace;
  font-size: 100px;
}
h1{
  text-align: center;
  font-variant: small-caps;
  font-family: "New Century Schoolbook", TeX Gyre Schola, serif;
}
.topics_nav{
  float: left;
  width: 50%;
}

.topics2_nav{
  float: right;
  width: 50%;
}
html {
  background: url(white.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
