.prolgbt{
  float: left;
}
.notfor_lgbt{
  float: right;
}
li{
  color: white;
}
html {
  background: url(http://eskipaper.com/images/sky-wallpaper-5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
