.prolgbt{
  float: left;
}
.notfor_lgbt{
  float: right;
}
li{
  color: white;
}
body{
  background-color: #b30000;
}
html {
  background: url(white.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
